body {
  background-color: #FFFFFF;
  font-size: max(1.31vw,1.31vh); 
  margin-right: max(1.31vw,1.31vh);
  margin-left: max(1.31vw,1.31vh);
}

.navigation {
  background-color: rgb(203,209,199);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation li a {
  color: black;
  float: right;
  display: block;
  text-align: center;
  padding: max(0.33vw,0.33vh) max(1.05vw,1.05vh); /* 5px 16px */
  text-decoration: none;
  font-size: max(1.31vw,1.31vh);
  font-family: sans-serif;
}

.navigation li a:hover {
  color: blue;
}

p.proof {
  background-color: rgb(225,225,225);
  border-style: solid;
  border-width: 1.5px;
  margin: 10px 10px;
  display: none;
}
