body {
  background-color: lightblue;
}

/* h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
} */

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation li {
  float: right;
}

.navigation li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navigation li a:hover {
  color: blue;
}

