<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">

    <script>
    MathJax = {
      tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      tags: 'ams'
      },
      svg: {
        fontCache: 'global'
      },
    };
    </script>

    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

  </head>

  
  <body>
    <h1 style = "font-family:sans-serif;font-size:max(2.30vw,2.30vh);padding:0;"><a href = "/index.html" style = "color:black;text-decoration:none;">Sai Sanjay's Website</a></h1>
    <ul class = "navigation">
      <li><a href = "/blogs/blog_home.html">Blogs</a></li>
      <li><a href = "/research/research.html">Research</a></li>
    </ul>
    {{ content }}
    <script>
        function toggleBlogs(blogID) {
            let blogList = document.getElementById(blogID);
            blogList.style.display = (blogList.style.display === "none" || blogList.style.display === "") ? "block" : "none";
        }
    </script>

    <script>
        document.querySelectorAll(".toggle-proof").forEach(button => {
            button.addEventListener("click", function() {
                let proof = this.nextElementSibling; // Get the next element (the proof)
                if (proof && proof.classList.contains("proof")) {
                    proof.style.display = (proof.style.display === "none" || proof.style.display === "") ? "block" : "none";
                }
            });
        });
    </script>

  </body>
</html>

