<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

    <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$']]
    }
  };
</script>
  </head>

  
  <body>
    <ul class = "navigation">
      <li><a href = "https://www.coursera.org">Coursera </a></li>
      <li><a href = "https://www.google.com">Google </a></li>
      <li class="saisanjay_website"><a href = "../index.html"  style = "float:left;font-size:30px;font-family:sans-serif;padding:14px">Sai Sanjay's Website</a></li>
    </ul>
    {{ content }}
  </body>
</html>

